/* Estilos para el componente Computer */
.colored-svg {
  fill: #ff0000;
  color: #ff0000;
  width: 100px;
}

.computer {
  text-align: center;
}

.computer-image img{
  width: 50px;
  height: 50px;
  margin: 10px;
  cursor: pointer;
}

.computers {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 32px;
}
