/* Estilos para el componente Computer */
.computer-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 50px;
}

.computer-image img {
  width: 100px;
  margin-block-end: 10px;
  cursor: pointer;
}

.computer-id {
  font-size: x-small;
}

.computers {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 32px;
}

.available-rooms {
  list-style: none;
  display: flex;
  gap: 32px;
}